.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}

.card--battleground {
  height: 600px;
  background-color: darkgray;
  color: beige;
  padding: 15px;
}
