@import 'buttons.css';
@import 'cards.css';

body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  font-size: 3em;
}

.transparent {
  display: none;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

h1 {
  font-size: 2em;
}

#battle-record {
  background-color: black;
  height: 473px;
  color: yellow;
  font-size: 0.7em;
  overflow: auto;
}

.battle-health {
  color: goldenrod;
  font-size: 0.9em;
}

.battle-over {
  margin: 40px 0;
}

.battle-record__enemy {
  margin: 0 0 40px 0;
}
